<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- test libs -->
        <logger name="org.mockserver" level="INFO"/>

        <!-- compile libs -->
        <logger name="org.apache.http.impl.nio.client" level="INFO"/>

        <Logger name="com.github.lzenczuk" level="DEBUG" />
    </Loggers>
</Configuration>